{{ include.page.parents }}

{%- assign children_list = include.pages_list | where: "parent", include.node.title -%}
<ul class="nav-list ">
{%- for child in children_list -%}
  {%- unless child.nav_exclude -%}

  {%- assign active = 0 -%}
  {%- for check_parent in include.page.parents -%}
    {{ check_parent.title }}
    {%- if child.title == check_parent.title -%}
      {%- assign active = 1 -%}
    {%- endif -%}
  {%- endfor -%}

  <li class="nav-list-item {% if include.page.url == child.url or active == 1 or include.page.parent == child.title %} active{% endif %}">
    {%- if child.has_children -%}
      <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
    {%- endif -%}
    <a href="{{ child.url | absolute_url }}" class="nav-list-link{% if include.page.url == child.url %} active{% endif %}">{{ child.title }}</a>
    {%- if child.has_children -%}
      {%- include nav_recursive_children.html node=child page=include.page pages_list=include.pages_list -%}
    {%- endif -%}
  </li>
  {%- endunless -%}
{%- endfor -%}
</ul>

